.about-info {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 50px;
    /* border: 1px solid red; */
    height: 80vh;
    padding-left: 200px;
    padding-right: 200px;
}

.about-info img {
    max-width: 100%;
    height: auto;
    border-radius: 50px 0px 50px 0px;
    border: 2px solid white;
    /* border: 1px solid red; */
    filter: saturate(0%);
}
.about-text {
    color: white;
    /* border: 1px solid red; */
    width: 50%;
    height: 80%;
    display: flex;

    justify-content: center;
    flex-direction: column;
    gap: 30px;
}
.about-text h1{
    font-size: 72px;
    background-image: linear-gradient(180deg, #ff0000, #ffa500);
    background-clip: text;
    color: transparent;
}
.texto{
    width: 60%;
    text-align: justify;
    font-size: 18px;
}
.missao{
    font-size: 32px;
    width: 90%;
}
.aspas{
    background-image: linear-gradient(120deg, #ff0000, #ffa500);
    background-clip: text;
    color: transparent;
    font-weight: bold;
    font-size: 42px;
}
@media screen and (max-width: 768px) {
    .about-info {
        flex-direction: column-reverse;
        align-items: center;
    }

    .about-info img {
        margin-top: 0;
        margin-left: 0;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 768px) {
    .about-info {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
        padding: 0 20px; /* Ajuste de padding para melhor responsividade */
        height: auto;
    }

    .about-info img {
        width: 100%; /* Garante que a imagem ocupe toda a largura disponível */
        max-width: 100%;
        height: auto;
        border-radius: 20px 0px 20px 0px;
        margin-bottom: 20px;
    }

    .about-text {
        width: 100%;
        padding: 20px 0; /* Ajuste de padding para melhor responsividade */
        text-align: center;
        gap: 20px;
    }

    .about-text h1 {
        font-size: 36px;
    }

    .texto {
        width: 100%;
        font-size: 14px;
    
    }

    .missao {
        font-size: 18px;
        width: 100%;

    }

    .aspas {
        font-size: 32px;
    }
}